/* #loader {
    background: #fff url(./images/loading3.gif) no-repeat center center;
    background-size: 30%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 100;
} */

#maindiv {
    width: 300px;
    height: auto;
    padding: 40px;
    margin-left: 520px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(218, 213, 213);
    box-shadow:6px 6px 10px white;

}

#note {
    text-align: center;
    font-size: 15px;
    margin-top: 13px;
    color: white;
}

#maindiv h3 {
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(69, 192, 230); */
/*     background: linear-gradient(to right, rgb(114, 2, 24), rgb(133, 148, 2), rgb(164, 166, 247)); */
     background-image: url(./images/backg.avif);
    background-size: 1500px;
    background-repeat: no-repeat;
    height: "80px";
    margin-bottom: 10px;
    padding: 15px;
    position: sticky;
    top: 0px;
}
.crypto{
    margin-left: 300px;
}

input#searchbox {
    cursor: pointer;
}

#second {
    display: flex;
    justify-content: space-between;

}

#third {

    justify-content: space-between;
}

#btn11 {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#range {
    display: flex;
}

#ancher a {
    color: black;
    text-decoration: none;
}

#ancher a:hover {
    color: blue;
    text-decoration: underline;
}
.main {
    background-color: rgb(255, 236, 213);
}

#login:hover {
    background-color: rgb(253, 252, 252);
    color: orangered;
}

#signup:hover {
    background-color: rgb(253, 252, 252);
    color: green;
}

#filter:hover {
    background-color: rgb(253, 252, 252);
    color: blue;

}

.loginbody {
    background-image: url(./images/loginback.jpg);
}

.signupbody {
    background-image: url(./images/signupback.webp);
}

#cancel:hover {
    background-color: rgb(121, 5, 5);
}

#loginsubmit:hover,
#signupsubmit:hover,
#checkrange:hover {
    background-color: rgb(5, 5, 109);
}

header {
    position: sticky;
    top: 0px;
}

section {

    height: 460px;
    overflow: scroll;
}

